body, html{
	padding:0;
	margin:0;
	overflow: hidden;
	background-color: none;
	width:600px;
}
select{
	color:#000;
}

.spinner {
  width: 50px;
  margin-right: 5px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 4px 5px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
	font-size:8px;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
  width:100px;
}

.btn-xs, .btn-group-xs>.btn {
	padding: 0px 5px;
	font-size: 11px;
	line-height: 1.5;
	border-radius: 3px;
}

button,a,*:focus,*:hover,*:active,*:click{
	outline: 0;
	border:0px solid #000;
	--webkit-appearance: none;
}

fieldset {
	border:1px solid #999;
	display:flex;
	width:auto;
}

fieldset legend{
	font-size:12px;
	margin: 0px 10px;
	display: inline;
	width: initial;
}

.tabs a{
	display:inline-block;
	margin: 0px 3px;
	background: #555;
	padding: 5px 10px;
	border-radius: 5px 5px 0px 0px;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.tabs a:hover{
	color:#0ce3ac;
}

.tabs a.selected{
	color: #0ce3ac;
	background: #000;
}
.tabContainer{
	background: #000;
	display: block;
	width: 100%;
	padding: 10px;
	min-height:340px;
	overflow:auto;
}

.forceNoMargin {
	margin:0 !important;
}
.forceMargin{
	margin:5px !important;
}

#list{	
	list-style-type: none;
	margin: 5px 0px;
	padding: 0px;
	font-size:12px;
	overflow:auto;
	max-height:150px;
}

#list li{
	width:100%;
	margin-bottom:5px;
}
#list .handler{
	vertical-align:middle;
	display:inline-flex;
	margin: auto 0;
	font-size: 18px;
	cursor: move;
}
#list input{
	padding:2px;
	vertical-align:middle;
	margin:0px 5px;
	width:90%;
}

#list .removeThis{
	cursor:pointer;
}

.ghost {
  opacity: 0;
}

#addLocalVisual, #addURLVisual {
	display:none;
}

#manageVisualizations fieldset{
	padding:5px;
}

input[type='text'].form-control{
	padding: 5px;
    height: 20px;
   	font-size:13px;
   	margin: auto 0;
}

.documentation {
	min-height: 330px;
    overflow: auto;
    height: 330px;
    display: block;
    font-size: 9px;
    width: 578px;

}

.documentation h3{
	font-size:14px;
}

.documentation pre{
	margin: 0 10px 0px 0px;
	font-size:10px
}
#manageVisuals{
	margin-top:5px;
}