body, html {
    font-family: Arial, Verdana, sans-serif !important;
    font-size: 10px;
}
label, xui-checkbox label{
    font-family: Arial, Verdana, sans-serif !important;
    color: #fff;
    font-size:11px !important;
    margin:auto 0;
}
input,select,xui-input,xui-select {
	font-family: Arial, Verdana, sans-serif !important;
    color: #fff;
    font-size: 10px !important;
}

xui-tab {
	font-family: Arial, Verdana, sans-serif !important;
    color: #fff;
    font-size:11px !important;
}

#slider #increment, #slider #decrement{
	height: 16px !important;
}

#sensitivity{
	width:auto;
	margin:0;
	padding:0;

}

.spinnerWidth{
	width:auto;
	margin:0;
	padding:0;
}

.spinnerWidth input{
	display: inline-flex;
}

.fullWidthSelect{
	width:100%;
}

.contentContainerBlack{
	background: #000 !important;
	margin:-5px;
	min-height: 180px;
}
#animationPanel > div#content{
	min-height: 400px;
}
.panelHeight{
	color: #fff;
    min-height: 100px;
    overflow: auto;
}

.padding {
	padding:5px;
}

xui-tab[selected]{
	box-shadow: 0 0.3em 0 0 #313131, 0 0.4em 0 0 #313131
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/** tooltip */
.help {
  background-image: url("../assets/images/help.png");
  background-color: #000;
  background-repeat: no-repeat;
  font-size: 11px;
  font-style: normal;
  font-family: 'roboto';
  color: #888;
  display: inline-block;
  cursor: pointer;
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 5;
  margin: auto 0;
  margin-left:5px;
}
.help div.help-text {
  display: none;
  width: 154px;
}
.help[notfound] {
}
.help:hover {
  background-image: url("../assets/images/help_hover.png");
  background-position: 5px 5px;
  box-shadow: 0 0 0 1px #333;
  width: 220px;
  height: auto;
  position: absolute;
  z-index: 10;
}
.help:hover div.help-text {
  display: block;
  padding: 5px;
  width:215px;
}
.help:hover div.title {
  font-size: 12px;
  color: #0095de;
  padding-left: 18px;
  line-height: 16px;
  font-weight: bold;
}
.help:hover div.text {
  font-size: 11px;
  color: #888;
  line-height: 16px;
  margin-top: 5px;
}
.help:hover[notfound] {
}

.help:hover[sensitivity]{
    left: 45px;
}

.help:hover[smoothing]{
    left: 45px;
}
.help:hover[bitsample]{
  left: 45px;
}
.help:hover[barcount]{
  left: 45px;
}
.help:hover[space]{
  left: 27px;
}

#solidOption{
	margin: auto 0;
	height:22px;
	margin-left: 3px;
}

